body {
    font-size: 15pt;
    background-color: darkgoldenrod;
    animation-name: body1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes body1{
  
  10% {background: orangered;}
  25% {background-color: hotpink;}
  40% {background-color: dodgerblue;}
  75% {background-color: lightseagreen;}
  100% {background-color: peru;}
}

h1{
  font-family: 'Sigmar One', cursive;
  color: whitesmoke;
  background-color: limegreen;
  border-radius: 2rem;
}

style {
  background-color: #007EE9
}

canvas {
  border-radius: 2rem;
}



